.cart-product{
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 100px;
  gap: 30px;

  margin-top: 60px;
}
.cart-product img{
  height: 200px;
}

.cart-container{
  width: 100%;
  height: 100vh;
}